<template lang="html">
  <div class="" :style="{ 'max-width': '60ch' }">
    <h2 class="">Live Experiment: Multiplayer</h2>
    <!-- Stats -->
    <div class="font-sans">
      <p>Howdy 👋</p>
      <p>
        Thanks for checking out our project! We're a team building the most
        <strong>delightful</strong> and <strong>responsive</strong>
        digital workspace for remote teams.
      </p>
      <p>
        We took the cloudflare challenge as an opportunity to create
        the fastest, most robust multiplayer document on the market.
      </p>
      <p>Invite a friend! Try to break it😈.</p>
      <p>
        If you like what you see, check out our
        <a class="text-charcoal" href="https://www.tryvelocity.xyz"
          ><strong>complete workspace</strong></a
        >
        which includes tools for managing email, relationships, and more! -- all
        multiplayer.
      </p>
    </div>
    <p><strong class="u">Stats:</strong></p>

    <div class="">
      <div class="soundboard-item">
        avg latency: {{ editor.storage.collaboration.latency }} ms
      </div>
      <div class="soundboard-item">
        avg transactions per second:
        {{ editor.storage.TransactionCounter.trPerSecond }}
      </div>
      <div class="soundboard-item">
        total transactions:
        {{ editor.storage.TransactionCounter.trTotal }}
      </div>
    </div>

    <p><strong>Soundboard:</strong></p>

    <div class="flex flex-wrap gap-5">
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleBold()"
      >
        bold
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleItalic()"
      >
        italic
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleStrike()"
      >
        strike
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleHeading(1)"
      >
        h1
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleHeading(2)"
      >
        h2
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleHeading(3)"
      >
        h3
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleOl()"
      >
        ordered list
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleUl()"
      >
        unordered list
      </button>
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="toggleCode()"
      >
        code
      </button>
      <!--
      <button
        type="button"
        class="soundboard-item flex-grow"
        @click="insertToggle()"
      >
        insert toggle
      </button>
    --></div>
    <div class="flex items-center">
      <p class="flex-1"><strong>Users:</strong></p>
      <div class="flex-1">
        <strong>You are:</strong>
        <div
          class="sub p-mention rounded-mention inline-block ellipssi"
          :style="{ 'background-color': user.color }"
        >
          {{ user.name }}
        </div>
      </div>
    </div>

    <div class="flex flex-wrap gap-3">
      <div
        class="sub p-mention rounded-mention ellipsis"
        :key="cursor.uid"
        v-for="cursor in cursors"
        :style="{ 'background-color': cursor.color }"
      >
        {{ cursor.name }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Editor } from "@tiptap/core";

export default defineComponent({
  name: "Soundboard",
  props: {
    editor: {
      type: Editor,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
    cursors: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      loadTime: 0,
      trPerSecond: 0,
      trThisSecond: 0,
    };
  },
  methods: {
    toggleBold: function () {
      this.editor.chain().focus().toggleBold().run();
    },
    toggleItalic: function () {
      this.editor.chain().focus().toggleItalic().run();
    },
    toggleStrike: function () {
      this.editor.chain().focus().toggleStrike().run();
    },
    toggleHeading: function (level: 1 | 2 | 3) {
      this.editor.chain().focus().toggleHeading({ level: level }).run();
    },
    toggleCode: function () {
      this.editor.chain().focus().toggleCode().run();
    },
    toggleOl: function () {
      this.editor.chain().focus().toggleOrderedList().run();
    },
    toggleUl: function () {
      this.editor.chain().focus().toggleUnorderedList().run();
    },
    insertToggle: function () {
      this.editor
        .chain()
        .focus()
        .insertContent({
          type: "toggle",
          content: [
            {
              type: "paragraph",
              content: [{ type: "text", text: "text" }],
            },
          ],
        })
        .run();
    },
  },
});
</script>

<style lang="css" scoped>
button {
  @apply border border-charcoal px-3 hover:shadow-lab focus:shadow-lab-inset;
}
</style>
