<template lang="html">
  <!-- <div alt="" class="caution" /> -->
  <div class="flex flex-wrap justify-center">
    <h1 class="heading">🔬 Welcome to the velocity lab</h1>
    <a
      class="flex items-center btn-primary p-cell rounded-mention to-velocity tracking-heading self-center"
      href="https://www.tryvelocity.xyz"
    >
      Go to velocity
    </a>
  </div>

  <Editor class="flex-grow relative editor-padding" />
  <!-- <div alt="" class="caution" /> -->
</template>

<script lang="ts">
import Editor from "@/components/Editor.vue";

export default {
  components: {
    Editor,
  },
};
</script>

<style scoped>
.heading {
  @apply mx-12 text-note text-center;
}
.to-velocity {
  @apply mx-12 text-base font-btn;
  text-decoration: none;
}
.editor-padding {
  padding: 0 calc(12px);
}

@media (min-width: 600px) {
  .heading {
    @apply mx-85 text-h1 flex-grow text-left;
  }
  .to-velocity {
    @apply mx-85 text-h3;
  }
  .editor-padding {
    padding: 0 calc(85px - 18px);
  }
}

.caution {
  background-image: url("./assets/caution.svg");
  background-position: center;
  height: 50px;
  width: 100vw;
}
</style>
