@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core Fonts --------------------------------------------------------------- */
/* Montserrat; a sans-serif used for normal text*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
/* IBM Plex Mono; the lab font */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

/* Editor Fonts */
/* Montserrat Alternate; a more stylized sans-serif used for names, headings, etc */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;500;700;900&display=swap");
/* Noto Serif; the editor serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Jetbrains Mono, the editor mono */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
/* Dancing Script; the editor script */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

/* Defaults ----------------------------------------------------------------- */
html {
  @apply bg-paper;
  font-size: 18px;
}

p,
h1,
h2,
h3,
ul,
ol,
blockquote {
  margin-top: 0.66em;
  margin-bottom: 0.6em;
}

li p,
ul ul,
ul ol {
  margin: 0;
}

ul li {
  position: relative;
  list-style: disc;
  list-style-position: inside;
}

ol li {
  position: relative;
  list-style: decimal;
  list-style-position: inside;
}

a {
  @apply text-blue hover:underline cursor-pointer;
}

blockquote {
  @apply border-l border-charcoal;
  @apply pl-12;
}

pre {
  @apply bg-charcoal text-paper rounded-note;
  padding-top: 0.66em;
  padding-bottom: 0.6em;
}

h1 {
  @apply text-h1 tracking-heading leading-heading font-medium;
}

h2 {
  @apply text-h2 tracking-heading leading-heading font-regular;
}

h3 {
  @apply text-h3 tracking-heading leading-heading font-regular;
}

/* Toggle */

/* Buttons */

.btn-primary {
  @apply bg-primary-accent text-paper cursor-pointer;
  transition: box-shadow 0.2s ease-out;
}

.btn-primary:hover {
  @apply shadow-primary;
}

.btn-primary:active {
  @apply shadow-primary-inset;
}

.btn-primary-outline {
  @apply bg-paper text-primary-accent border-2 border-primary-accent cursor-pointer;
  transition: background-color 0.2s ease-out;
}

.btn-primary-outline:hover {
  @apply bg-primary-ghost;
}

.btn-primary-outline:active {
  @apply bg-primary-accent text-paper shadow-primary-inset;
}

.btn-danger-outline {
  @apply bg-paper text-red border-2 border-red cursor-pointer;
  transition: background-color 0.2s ease-out;
}

.btn-danger-outline:hover {
  @apply bg-light-red;
}

.btn-danger-outline:active {
  @apply bg-red text-paper shadow-danger-inset;
}

/* Scrollbars */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-sm::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.scrollbar-sm::-webkit-scrollbar-track {
  @apply bg-paper;
}

/* Handle */
.scrollbar-sm::-webkit-scrollbar-thumb {
  @apply bg-charcoal rounded-mention;
}

/* Context Menu */
.context-menu {
  @apply bg-paper shadow-base rounded-sub flex flex-col overflow-hidden outline-none overflow-y-auto scrollbar-sm;
  width: 240px;
  max-height: 200px;
}

.menu-heading {
  @apply font-bold bg-cool w-full p-mention flex gap-mention items-center;
}

.menu-item {
  @apply w-full p-mention flex flex-row flex-nowrap gap-3 items-center whitespace-nowrap mention;
}

.menu-heading-icon {
  @apply flex flex-row flex-nowrap items-center justify-center;
  width: 18px;
  height: 18px;
}

/* Display */
.display {
  @apply bg-paper shadow-base rounded-note;
}

/* Utilities ---------------------------------------------------------------- */
.ellipsis {
  @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
}

.clickable {
  @apply hover:bg-warm focus:bg-cool cursor-pointer;
}

input.clickable {
  @apply cursor-text;
}

/* Loading */

.loading-animation {
  background: rgba(26, 26, 26, 0.05);
  animation: loading 0.6s ease-in-out 1s infinite alternate;
}

.loading-animation-dark {
  background: rgba(255, 255, 255, 0.05);
  animation: loading 1s ease-in-out 1s infinite alternate;
}

@keyframes loading {
  from {
    background: rgba(26, 26, 26, 0.05);
  }
  to {
    background: rgba(26, 26, 26, 0.1);
  }
}

@keyframes loading-dark {
  from {
    background: rgba(255, 255, 255, 0.05);
  }
  to {
    background: rgba(255, 255, 255, 0.2);
  }
}

.flash-animation {
  opacity: 1;
  animation: flash 1s ease-in-out 1s infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
